* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
   html,
   body {
    width: 100vw;
    height: 100vh;
   }
   
   .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
   }
   
   .info {
    font-family: math;
    width: 100%;
    height: fit-content;
    color: #919191;
    position: absolute;
    bottom: 0;
    padding-block: 3vh;
    text-align: center;
    z-index: 2;
   }
   ul {
    list-style: none;
   }
   
